*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar start */
nav {
    background-color: #100f3d;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav .logo{
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul{
    display: flex;
    padding-top: 20px;
    padding-right: 200px;
}
nav ul li{
    margin-right: 30px;
    list-style: none;
    
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    
}
nav ul li a:hover{
    border: 4px red ;
    border-bottom-style: dashed;
    color:aqua;
    
}

/* Navbar close */

/* Hero Section start */
.hero{
    
    background: url(/images/hero-section-image.png) no-repeat center/cover;
     height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.hero h1{
    color: white;
    font-size: 128px;
    margin-right: 90px;
    margin-top: 50PX;
}
.hero button{
    font-size: 15px;
    margin-right: 80px;
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #F34E3A;
    color: white;
}

.hero button:hover{
    color: black;
    background: white;
    cursor: pointer;
}


/* Hero Section Close */

/* About Me section  start*/
.aboutme{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 150px;
    padding-bottom: 100px;
   
}
.aboutme h1{
    font-size: 48px;
    margin-top: 50px;
   
}

.aboutme p{
    line-height: 1.7;
    word-spacing: 2.0px;
    /* padding-right: 150px; */
}

.underline1{
    border-bottom: 4px solid aqua;
    margin-left: 2%;
    margin-right: 85%;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px; 
    
    
}
.about-img img{
  margin-left: 80px;
  margin-right: 120px;
  width: 650px;
 padding-right: 40px;

  
}
.about-img h3{
    margin-top:25px ;
    font-size: 21px;
    font-weight: 800px;
    margin-left: 80px;
}

.aboutme h5{
    font-size: 20px;
    margin-top:20px;
    padding-right: 30px;

}
.logo-img{
    display: flex;
    padding-top: 40px;
    align-items: self-start;
    word-spacing: 2;
    
}



/* About Me Section Close */

/* Personal Training section start placement  */
.placement{
    display: flex;
    padding-bottom: 80px;
    justify-content: space-between;
    padding-top: 20px;
}
.placement h1{
    font-size: 48px;
    font-family: sans-serif;
}
.placement p{
    line-height: 2.0;
    font-family: sans-serif;
}
.placment-training{
  margin-right: 100px;
}

.placement-service-list ul{
 width: 650px;  
 list-style: none; 
 line-height: 2.0;
 font-family: sans-serif;


} 
.placement-service-list i{
    margin-right: 20px;color: #F34E3A;
   font-size: 12px;
}


/* Personal Training section start placement close */


/* training section start */

#training-section{
    background: url(/images/training-image.jpg) no-repeat center/cover;
    height: 100vh;
    
}
#training-section{
    background-color: #1A1A1A;
    opacity: 0.9;
}
.table{
    padding-top: 50px;
    padding-left: 150px;
    color: #ff1c02;
    font-weight: 800;
    padding-bottom: 20px;  

}
.training-section-table{
    padding-top: 50px;
}

.table tr {
  height: 5vh;
  width: 800px;
}
.table tr th{
    width: 250px;
    font-size: 20px;
    
}
.table tr td{
    text-align: left;
    padding-left: 85px;
}
hr{
    margin-left: 15%;
    margin-right: 40%;
}


/* Training section close */

/* Training  rates Section  start */

#training{
 padding-top: 100px;
 margin-left: 140px;
 margin-bottom: 100px;
}
#training h1{
    font-size: 48px;
    margin-left: 20px;
}
#training p{
    margin-left: 20px;
    font-family: sans-serif;
    margin-bottom: 60px; 
}
.img-div{
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
    
}
.img-div img{
    width: 380px;
    height: 600px; 
}
.img-div2{
    position: relative;
    font-family: Arial;
  }
  
.image-element {
    position: absolute;
    color: white;
    left: 40px;
    top: 80px;
    
  }
 
.image-element h2{
    font-size: 30px;
    color: rgb(241, 33, 10); 
}
.image-element h6{
    font-size: 17px;
    margin-top: 20px;
    color: rgb(255, 234, 0);
    font-weight: 200;
    font-weight: 800;
    
}
.image-element ul li{
    list-style: none;
    line-height: 2.0;
    color: rgb(255, 234, 0);
    font-weight: 200;
   
}
button:hover{
    background-color:transparent;
    color: blue;
}
.ragistrain-btn{
    cursor: pointer;
    color: #fa1d04;
    font-style: bold;
    margin-top: 120px;
    background-color: transparent;
    border: none;
    margin-top: 300px;
}
.ragistrain-btn2{
    margin-top: 15px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fa1d04;
    font-style: bold;
    margin-top: 165px;
}
.ragistrain-btn3{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fa1d04;
    font-style: bold;
    margin-top: 100px;
}

  .T-hr{
    margin-left: 0%;
    margin-right: -5% ;
    color: transparent;
  }

  /* Training rates section close */





  
/* Training Gallary start */
.gallry{
 
    background-color: #1A1A1A;
    height: 150vh;
    padding-bottom: 1100px;
    width: auto;
}
.gallry h1{
    font-size: 230px;
    color: white;
    opacity: 0.1;
    text-align: center;
    font-family: sans-serif;
   margin-top: -230px;
   font-weight: 900;
   
}
.gallry-heading h2{
    color: white;
    font-family: sans-serif;
    padding: 100px  0px 20px 150px;
    font-size: 48px;
}
.underline2{
    border-bottom: 4px solid aqua;
    margin-left: 10%;
    margin-right: 82%;
    align-items: center;
    padding-top: 10px;
    
}
.gallry-heading p{
    color: white;
    font-family: sans-serif;
    padding: 20px  800px 20px 150px;
    line-height: 2.0;
    word-spacing: 2.0;
}
.gallry-image img{
   padding-left: 100px;
   text-align: center;
   margin-top: -80px;
   padding-left: 160px;
}

/* Training gallary close */

/* My Client section start */

.my-client{
    height: 150vh;
    display: flex;
    
}

.underline3{
    border-bottom: 4px solid aqua;
    margin-left: 28%;
    margin-right: 52%;
    align-items: center;
    padding-top: 10px;
    
    
}

.my-client-heading h1{
    padding-top: 320px;
    font-size: 48px;
    margin-left: 160px;
    padding-bottom: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.my-client-heading p{
    margin-left: 160px;
    padding-top: 15px;
    line-height: 1.7;
    padding-right: 55px;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
}
.container{
    margin-top: 40px;
    border: 200px solid #fdd2cd;
    border-radius: 50%;
    width: 2600px;
    height: 1000px
    
}
.container .image1{
    position:relative;
    top: -300px;
   
    padding-left: 280px;
    
}
.container .image1 h6{
    padding-top: 5px;
    font-size: 17px;
    padding-left: 70px;
}
.container .image1 p{
    padding-top: 5px;
    padding-left: 70px;  
}

.container .image2{
    position: relative;
    top: -380px;
    right: 110px;
}
.container .image2 h6{
    padding-top: 5px;
    font-size: 17px;
    padding-left: 70px;
}
.container .image2 p{
    padding-top: 5px;
    padding-left: 90px;

}

.container .image3{
    position: relative;
    top: -300px;
    right: 90px;
    /* margin-right: 180px; */
    /* width: fit-content; */
   
}

.container .image3 h6{
    padding-top: 5px;
    font-size: 17px;
    padding-left: 70px;
}
.container .image3 p{
    padding-top: 5px;
    padding-left: 70px;

}

.container .image4{
    position: relative;
    top: -850px;
    right: -280px;
    margin-right: 80px;
   
}
.container .img{
    margin-right: 50px;
}
.container .image4 h6{
    padding-top: 5px;
    font-size: 17px;
    padding-left: 70px;
}
.container .image4 p{
    padding-top: 5px;
    padding-left: 70px;

}
.container .image5{
    position: relative;
    top: -800px;
    right: -280px;
    margin-right: 80px;
   
}
.container .image5 h6{
    padding-top: 5px;
    font-size: 17px;
    padding-left: 70px;
}
.container .image5 p{
    padding-top: 5px;
    padding-left: 70px;

}

/* My Client secton close */

/* people say section  start*/
.people-say{
    margin-top: 20px;
    background: url(/images/aboutmeimage.png);
    height: 75vh;
    color: white;
    width: auto;
    position: c;
}
.people-say-heading h1{
    padding-top: 110px;
    font-size: 48px;
    padding-left: 160px;
    padding-bottom: 20px;

}
.quates{
    padding-left: 160px;
    font-size: 90px;
   
}
.people-say-heading p{
    padding-top: 5px;
    padding-left: 160px;
    padding-right: 750px;
    line-height: 2.0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}
strong{
    padding-left: 160px;   
    font-size: 20px;
}

/* people say  section close  */

/* Contact us section start */

.contact{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 90vh;
    padding-top: 150px;
    color: white;
    padding-bottom: 550px;
    
}

.contact .contactlogo {
    margin-left: 150px;
    line-height: 1.7;
}
.contactlogo p{
    font-size: 18px;
    margin-right: 50px;
}
.contact .contactme{
    margin-left: 40px;
    margin-right: 140px;
    
}
.contact .contactme address{
    line-height: 1.8;
    margin-top: 40px;
}
.contact .contact-form h1{
    font-size: 25px;
    
}
.contact-form{
    margin-right: 140px;
}
.input-field input{
    font-size: 45px;
    padding-bottom: 10px;
}
.contact-form ::placeholder{
    font-size: 20px;
  padding-left: 10px;
   
}


/* Contact us section close */

/* footer  section start */

footer{
    height: 11vh;
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
}
.left-footer p{
margin-left: 160px;
}
.right-footer{
    text-align: right;
    margin-right: 170px;
}
.input-field-btn button{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
}



/* footer section start */

